---
import { auth } from '@utils/auth';
import AuthBtn from './AuthBtn.svelte';
import Username from '@components/Username.svelte';
import githubLogo from '@assets/images/github.png';
import googleLogo from '@assets/images/google.png';

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const username = session?.user?.name;
const disabled = true;
---

{
  username ? (
    <div class="flex items-center justify-end w-full gap-4 px-2 md:px-4 md:w-max md:order-2">
      <Username username={username} client:load />
    </div>
  ) : (
    <div
      id="dropdown"
      class="relative flex flex-col gap-1 px-2 ml-auto w-max md:px-4 md:ml-0 md:order-2"
    >
      <p
        id="signin"
        class="z-20 px-4 py-2 border-gray-300 rounded cursor-pointer border-1 md:hidden text-end "
      >
        Signin with socials
      </p>
      <div id="btns" class="bg-amber-50">
        <AuthBtn
          client:load
          mode="signinWithGithub"
          logo={githubLogo}
          disabled={disabled}
        />
        <hr class="md:hidden w-[80%]" />
        <AuthBtn
          client:load
          mode="signinWithGoogle"
          logo={googleLogo}
          disabled={disabled}
        />
        {/* <AuthBtn client:load mode="signup" /> */}
      </div>
    </div>
  )
}
<style>
  #signin {
    width: 11.5rem;
  }
  #btns {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    transition: 0.4s;
    z-index: 0;
    max-height: 0;
    overflow: hidden;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    width: 11.5rem;

    @media screen and (min-width: 480px) {
      position: static;
      max-height: unset;
      flex-direction: row;
      border: none;
      overflow: unset;
      background-color: transparent;
      width: max-content;
    }

    &.open {
      /* transform: translateY(2.5rem); */
      max-height: 6rem;
      z-index: 10;
      border-bottom: 1px solid #d3d3d3;
      & button {
        cursor: pointer;
      }
    }
  }
</style>

<script>
  const btns = document.getElementById('btns');
  const buttons = btns?.querySelectorAll('button');
  console.log(buttons);
  document.getElementById('signin')?.addEventListener('click', (e) => {
    btns?.classList.toggle('open');
    buttons?.forEach((button) => (button.disabled = !button.disabled));
  });
</script>
