---
import { auth } from '@utils/auth';
import AuthBtn from './AuthBtn.svelte';
import Username from '@components/Username.svelte';
import githubLogo from '@assets/images/github.png';
import googleLogo from '@assets/images/google.png';

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const username = session?.user?.name;
const disabled = true;
---

{
  username ? (
    <div class="flex items-center justify-end w-full gap-4 px-2 md:px-4 md:w-max md:order-2">
      <Username username={username} client:load />
    </div>
  ) : (
    <div id="dropdown">
      <p id="signin">Signin with socials</p>
      <div id="btns">
        <AuthBtn
          client:only
          mode="signinWithGithub"
          logo={githubLogo}
          disabled={disabled}
        />
        <hr />
        <AuthBtn
          client:only
          mode="signinWithGoogle"
          logo={googleLogo}
          disabled={disabled}
        />
        {/* <AuthBtn client:load mode="signup" /> */}
      </div>
    </div>
  )
}
<style>
  #dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 8px;
    margin-left: auto;
    width: max-content;
  }
  #signin {
    width: 11.5rem;
    z-index: 20;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  #btns {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    transition: 0.4s;
    z-index: 0;
    max-height: 0rem;
    overflow: hidden;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    width: 11.5rem;
    background-color: rgb(255 251 235);
    hr {
      width: 80%;
    }

    @media screen and (min-width: 480px) {
      position: static;
      max-height: unset;
      flex-direction: row;
      border: none;
      overflow: unset;
      background-color: transparent;
      width: max-content;
    }

    &.open {
      /* transform: translateY(2.5rem); */
      max-height: 6rem;
      z-index: 10;
      border-bottom: 1px solid #d3d3d3;
      & button {
        cursor: pointer;
      }
    }
  }
  @media screen and (min-width: 30rem) {
    #dropdown {
      padding: 0 16px;
      margin-left: 0;
      order: 2;
    }
    #signin {
      display: none;
    }
    #btns hr {
      display: none;
    }
  }
</style>

<script>
  const btns = document.getElementById('btns');
  const buttons = btns?.querySelectorAll('button');
  console.log(buttons);
  document.getElementById('signin')?.addEventListener('click', (e) => {
    btns?.classList.toggle('open');
    buttons?.forEach((button) => (button.disabled = !button.disabled));
  });
</script>
