---
export const prerender = true;
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import slugify from 'slugify';
import BaseLayout from '../../layouts/BaseLayout.astro';

export const getStaticPaths = (async () => {
  const dogs = await getCollection('dogs');

  const result = dogs.map((dog) => {
    const slug = slugify(dog.data.breed, { lower: true, trim: true });
    return {
      params: { slug },
      props: { dog },
    };
  });

  return result;
}) satisfies GetStaticPaths;

const { dog } = Astro.props;
if (!dog) {
  return Astro.redirect('/404');
}
---

<BaseLayout pageTitle={dog.data.breed}>
  <p class="px-2">Good dog, {dog.data.breed}!</p>
  <p class="px-2">
    Its temperament is {
      dog.data.temperament.map((temp, index, array) => (
        <span>
          {index === array.length - 1
            ? `${temp}.`
            : index === array.length - 2
              ? `${temp} and `
              : `${temp}, `}{' '}
        </span>
      ))
    }
  </p>
</BaseLayout>
